<% if @booking.errors.any? %>
    <strong>Please correct the following errors:</strong>
    <ul>
        <% @booking.errors.full_messages.each do |e| %>
            <li><%= e %></li>
        <% end %>
    </ul>
<% end %>

<%= render partial: 'form' %>