<!--
<% if @booking.errors.any? %>
    <strong class="red">Please correct the following errors:</strong>
    <ul>
        <% @booking.errors.full_messages.each do |e| %>
            <li class="red"><%= e %></li>
        <% end %>
    </ul>
<% end %>

<%= render partial: 'form' %>
-->