<% if flash[:error] %>

    <p class="login_error"><strong><%= flash[:error] %></strong></p>

<% end %>

<% if flash[:error_admin] %>

    <p class="login_error"><strong><%= flash[:error_admin] %></strong></p>

<% end %>

<h2>Start by making an account or browse through our eateries</h2>

<%= cl_image_tag("Project%201%20Images/home_image_hgtmqg.jpg", id: "home_img") %>

<h3>"The <em>belly</em> rules the mind."</h3>
<p>~ Spanish Proverb</p>

<br><br><br>