<h2 class="page_header">All <%= @eatery_type.name %></h2>

<div class="eatery_grid">
    <% @eatery_type.eateries.each do |eatery| %>

    <div class="eatery_show_box">
        <%= link_to cl_image_tag(eatery.image, alt: eatery.name, class: 'eatery_index_img'), eatery_path(eatery.id) %>
        <p><%= eatery.name %></p>
    </div>

    <% end %>
</div>

