<h2>All eateries / bars</h2>

<% @eateries.each do |eatery| %>

<%= link_to image_tag(eatery.image, alt: eatery.name, class: 'eatery_index_img'), eatery_path(eatery.id) %>
<p><%= eatery.name %></p>

<% end  %>
