<h2>All eateries / bars</h2>

<p><strong>Sort by:</strong>
<% @eatery_types.each do |type| %>

    <p><%= link_to type.name, eatery_type_path(type.id) %></p>

<% end %>

<% @eateries.each do |eatery| %>

<%= link_to image_tag(eatery.image, alt: eatery.name, class: 'eatery_index_img'), eatery_path(eatery.id) %>
<p><%= eatery.name %></p>

<% end  %>
