@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 80vw;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

.eatery_index_img, .booking_index_img {
    width: 30vw;
}

.eatery_show_img{
    width: 50vw;
}