@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    /* border: 1px solid red; */
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

header {
    background-image: url("https://res.cloudinary.com/dpu8e4ucu/image/upload/v1662042895/Project%201%20Images/front_cover_1_bczhpa.jpg");
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    color: rgb(255, 211, 54);
}

#cover_text {
    border: 8px solid rgb(255, 211, 54);
    width: 50vw;
    margin: 40px auto;
}


h1 {
    font-size: 80pt;
    margin: -25px 0;
    padding-top: 20px;
}

.page_header {
    font-size: 25pt;
}

header p {
    font-family: 'Oswald', sans-serif;
    font-size: 25pt;
}

nav {
    position: relative;
    /* border: 1px solid red; */

    padding: 20px 0;
    background-color: rgb(31, 31, 31);
}

nav a {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding: 10px 5vw;
    margin: 20px 0;
    text-decoration: none;
    color:rgba(255, 211, 54, 0.89);
}

nav a:hover {
    box-shadow: 0px 5px 2px rgba(255, 211, 54, 0.89);
}

#admin_nav {
    position: relative;
    /* border: 1px solid red; */
    padding: 25px 3vw;
    background-color: rgba(255, 211, 54, 0.89);
}

#admin_nav a {
    margin: 15px 0;
    padding: 10px 3vw;
    color: black;
}

#admin_nav a:hover {
    box-shadow: 0px 5px 2px rgb(148, 148, 148);
}

#admin_nav h2 {
    margin-top: -5px;
}

#search_bar{
    margin: 30px 0
}

.search_input {
    position: relative;
    /* border: 1px solid red; */
    display: inline-block;
    height: 40px;
    width: 25vw;
    padding: 10px;
    border-radius: 5px;
}

.search_btn {
    position: relative;
    /* border: 1px solid red; */
    display: inline-block;
    height: 40px;
    width: 80px;
}

#home_img {
    width: 45vw;
    border-radius: 20px;
}

.photo_index {
    width: 400px;
    height: 250px;
}

.photo_box {
    display: inline-block;
}

#new_photo {
    display: block;
}

.red {
    color: red;
}

.field_with_errors input {
    background: rgb(255, 169, 169);
}