#user_details_box {
    border: 3px solid rgba(255, 211, 54, 0.89);
    text-align: left;
    width: 1200px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: rgba(255, 211, 54, 0.89);
    box-shadow: 10px 5px 5px 5px rgb(200, 200, 200);
}

#user_details_box p{
    margin-top: -15px;
}

.user_img {
    display: inline-block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin: 40px 150px;
}

#user_details {
    position: relative;
    left: 10vw;
    bottom: 70px;
    display: inline-block;
}


