<%= form_with model: @enquiry, local: true do |f| %>

    <h2><%= f.label :response, 'Enter reponse here' %><h2>
    <p><%= f.text_area :response, cols: 70 , rows: 8 %></p>

    <%= f.submit %>

<% end %>